body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
	height: 300%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#background {
	background-color: #FCE4EC;
	
	width: 100%;
	height: 300%;
	position: absolute;
	z-index: 0;
}

#heading-container {
	background: #FF8A80; 
	/*background: #42A5F5; */
	position: fixed;
	width: 100%;
	height: 150px;
	color: black;
	margin: 0 auto;
	text-align: left;
	z-index:10;
}
.heading {
	font-family: 'Indie Flower', cursive;
    font-size: 60px;
    font-weight: 80;
    color: white;
    margin-left: 100px;
    padding: 20px 20px 20px 20px;
}
#login {
	position: absolute;
	color: white;
	top: 15px;
	left: 90px;
	background: #de6868;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 10px;
}
#search {
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50px,-60px);
	-webkit-transform: translate(-50px,-60px);
	-moz-transform: translate(-50px,-60px);
}
.search-box {
	width: 500px;
	height: 30px;
	display: inline-block;
}
.search-button {
	position: relative;
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
	transform: translate(-0px,10px);
	-webkit-transform: translate(-0px,10px);
	-moz-transform: translate(-0px,10px);
}



/* sidebar */
.sidebar-container {
	position:fixed;
	width: 180px;
	height: 100%;
	background: #BBDEFB;
	z-index:20;
	transform: translateX(-180px);
	-webkit-transform: translateX(-180px);
	-moz-transform: translateX(-180px);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s; 
}
.sidebar-item {
	font-weight: 600;
	font-size: 20px;
	color: black;
	padding: 15px 20px;
} 
#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}
#nav-toggle {
	padding: 10px 30px 15px 0px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -10px; 
}
#nav-toggle span:after {
	bottom: -10px;
}



/* Styling the Sidebar Button */
#sidebar-button {
	position: fixed;
	z-index: 15;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

a {
	text-decoration: none;
}


/* Carousel */
#carousel-section {
	width: 100%;
	height: 500px;
	top: 250px;
	position: relative;
	text-align: center;

}
.carousel-text {
	font-style: italic;
    font-size: 25px;
    font-weight: 80;
    letter-spacing: 1px;
    color: black;
    padding: 20px 20px 20px 20px;
}
#carousel-container {
	width: 960px;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
	position: relative;
}

#carousel {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.carousel-item {
	position: relative;
	width: 960px;
	height: 100%;
	float: left;
	display: inline-block;
	margin: 0 auto;
}
.carousel-photos {
	width: 600px;
	height: 100%;
	padding: 0px 180px;
	
}

.arrow {
	width: 100%;
	height: 100%;
}
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000;
    -webkit-transition: all 0.3s;
}
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}



/*list-section*/
#list-section {
	width: 80%;
	height: 500px;
	top: 450px;
	position: relative;
	margin: 0 auto;
}
#list-item {
	display: inline-block;
}
.list-photos {
	width: 300px;
	height: 300px;
	margin: 20px 20px;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(180px);
	-moz-transform: translateX(180px);
	transform: translateX(180px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
