body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
	height: 300%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#background {
	background-color: #FCE4EC;
	
	width: 100%;
	height: 300%;
	position: absolute;
	z-index: 0;
}

#heading-container {
	background: #FF8A80; 
	/*background: #42A5F5; */
	position: fixed;
	width: 100%;
	height: 150px;
	color: black;
	margin: 0 auto;
	text-align: left;
	z-index:10;
}
.heading {
	font-family: 'Indie Flower', cursive;
    font-size: 60px;
    font-weight: 80;
    color: white;
    margin-left: 100px;
    padding: 20px 20px 20px 20px;
}
#login {
	position: absolute;
	color: white;
	top: 15px;
	left: 90px;
	background: #de6868;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 10px;
}
#search {
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50px,-60px);
	-webkit-transform: translate(-50px,-60px);
	-moz-transform: translate(-50px,-60px);
}
.search-box {
	width: 500px;
	height: 30px;
	display: inline-block;
}
.search-button {
	position: relative;
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
	transform: translate(-0px,10px);
	-webkit-transform: translate(-0px,10px);
	-moz-transform: translate(-0px,10px);
}



/* sidebar */
.sidebar-container {
	position:fixed;
	width: 180px;
	height: 100%;
	background: #BBDEFB;
	z-index:20;
	transform: translateX(-180px);
	-webkit-transform: translateX(-180px);
	-moz-transform: translateX(-180px);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s; 
}
.sidebar-item {
	font-weight: 600;
	font-size: 20px;
	color: black;
	padding: 15px 20px;
} 
#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}
#nav-toggle {
	padding: 10px 30px 15px 0px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -10px; 
}
#nav-toggle span:after {
	bottom: -10px;
}



/* Styling the Sidebar Button */
#sidebar-button {
	position: fixed;
	z-index: 15;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

a {
	text-decoration: none;
}

/* sections */
#section-container {
	width: 80%;
	height: 1500px;
	position: relative;
	margin: 0 auto;
	top: 150px;
	font-family: Lato;
}
.section {
	/*background: #EF9A9A;*/
	border: 3px solid black;
	width: 80%;
	height: 500px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 10px;
}
#optics-section {
	

}
#robotics-section {
	
}
#biochemistry-section {
	
}
.section-name {
	font-style: italic;
	font-weight: 800;
	font-size: 30px;
	color: black;
	padding: 15px 20px;
}
.section-title {
	width: 80%;
	display: inline-block;
	margin: 0 auto;
	font-weight: 600;
	font-size: 20px;
	color: black;
	padding: 15px 20px;

}
.section-content {
	width: 80%;
	display: inline-block;
	margin: 0 auto;
	font-weight: 400;
	font-size: 15px;
	padding: 15px 20px;
}
.section-reply {
	background: white;
	width: 80%;
	height: 200px;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-400px);
	-webkit-transform: translateX(-400px);
	-moz-transform: translateX(-400px);
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(180px);
	-moz-transform: translateX(180px);
	transform: translateX(180px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
